.c_opins{
	display:block;
	margin-left:350px;
	margin-top:10px;
	padding-bottom:10px;
	font: italic 10px/35px Georgia,'Times New Roman','Bitstream Charter',Times,serif;
}
.c_trea_box{
	padding:10px;
	width:260px;
	margin-left:200px;
	float:left;
}
.c_treat_option{
	padding-left:10px;
	display:block;
	background:url("../images/gray-grad.png") repeat-x scroll left top #DFDFDF;
	margin-top:10px;
	padding:5px;
	color:#000000;
	font-weight:bolder;
	cursor:move;
	width:180px;
	margin-left:30px;
    -moz-border-radius: 7px;
	-moz-border-radius: 7px;
	-khtml-border-radius:7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	text-align:center;
}

.position_class{
	position:relative;
}

.c_room_treatments{
	display:block;
	background:url("../images/gray-grad.png") repeat-x scroll left top #DFDFDF;
	margin-top:20px;
	padding:5px;
	color:#464646;
	font-weight:bolder;
	/*cursor:pointer;*/
	width:180px;
	margin-left:30px;
    -moz-border-radius: 7px;
	-khtml-border-radius:7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	text-align:center;	
	cursor:pointer;
	
}

.toggle_temp_menu{
	display:block;
	background:#000000;
	color:#ffffff;
	padding:3px 5px 3px 5px;
	text-decoration:none;
	border-bottom:2px dotted #ffffff;
	
}
.treat_close a:hover{
	color:#ffffff !important;
	background:#464646;
	
}

